body {
background-color : #eee;
color : #333;
margin : 0%;
}
.header {
border-radius : 10px 0 0 0;
color : #fff;
background : white;
padding : 1em 1.25em;
}
.header img{
	height: 200px;
	margin-right: 10px;
}
#logo img{
	height: 100px;
	float: left;
	margin-left: 100px;
}
h2 {
text-align : center;
font-family : serif;
font-style: italic;
text-shadow:2px 2px #777;
font-size: 50px;
}

.container {
background-color : #fff;
}
.search {
float : right;
}
table {
margin: auto;
}
.isi th, td {
padding : 0.5em 1em;
vertical-align : top;
text-align : center;
}
.table {
width : 100%;
max-width : 100%;
margin-bottom : 20px;
}
.btn {
color : #eee !important ;
background-color : #333;
border-color : #222;
display : inline-block;
padding : 0.5em 1em;
margin-bottom : 0;
line-height : 1.2;
text-align : center;
white-space : nowrap;
vertical-align : middle;
cursor : pointer;
border : transparent solid 1px;
text-decoration : none;
}
.btn:hover {
color : #fff !important ;
background-color : #777;
}
.menu {
margin-top : -1px;
background-color : #333;
text-align : left;
}
.btn:focus {
color : #fff !important ;
background-color : black;
}
.btn:active {
color : #fff !important ;
background-color : #777;
}
footer {
text-align : center;
background-color : #333;
color : white;
height : 100px;
}
.dropdown {
float : right;
position : relative;
display : block;
color : white;
}
.dropdown-content {
margin-top : 37px;
right: 0;
display : none;
position : absolute;
background-color : #333;
opacity: 0.9;
min-width : 160px;
box-shadow : 0 8px 16px 0 rgba(0, 0, 0, 0.2);
padding : 12px 16px;
z-index : 1;
}
#navprofile {
margin-top : 49px;
}
#navuser2 {
float : right;
padding : 0.5em 2em;
}
.profil {
float : right;
width : 30px;
height: 30px;
border-radius : 40px;
}
.showcase {
text-align : center;
}
navi{
	text-align: center;
}
.deco{
	width:371px;
	height:245px;
}
#center1{
	text-align: center;
}
#center2{
	text-align: center;
}
#center3{
	text-align: center;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-top : 37px;
right: 0;
display : none;
position : absolute;
background-color : #333;
min-width : 160px;
box-shadow : 0 8px 16px 0 rgba(0, 0, 0, 0.2);
padding : 12px 16px;
z-index : 1;
}
.show {display:block;}
.edit
{
	text-align: center;
	border-radius: 10px;
}
#editform{
text-align: center;
}
